<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Service</title>
</head>

<body>
  <h2>Add Service</h2>
  <form action="/admin/service" method="post">

    <label for="name">Service Name</label>
    <input type="text" name="name" id="name" />

    <label for="desc">Service Description</label>
    <input type="text" name="desc" id="desc" />

    <label for="price">Price</label>
    <input type="text" name="price" id="price" />

    <button>Submit</button>

    <? if(locals.message){ ?>
    <p>
      <?=locals.message?>
    </p>
    <? } ?>
  </form>
</body>

</html>