<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Category</title>
</head>

<body>
  <h2>Add Category</h2>
  <form action="/admin/category" method="post">
    <label for="name">Category Name</label>
    <input type="text" name="name" id="name" />
    <label for="desc">Category Description</label>
    <input type="text" name="desc" id="desc" />

    <? if(locals.sub_categs.length){?>
    <label>Select Sub - Categories</label>
    <label for="sub_categ">Select Sub - Categories</label>
    <? sub_categ.forEach(sub => {
    <input 
    id="<?=sub._id?>"
    value="
    <?=sub.name?>"
    type="checkbox"
    name="sub_categs"
    />
    <label for="<?=sub._id?>">Select Sub - Categories</label>
    }); ?>
    <?}?>
    <button>Submit</button>
  </form>
</body>

</html>