<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Admin Panel</title>
</head>

<body>
  <div>
    <form action="/admin/login" method="post">

      <label for="email">Email:</label>
      <input type="text" value="<%=locals?.data?.email ?? '' %>" name="email" id="email" />

      <label for="password">Password:</label>
      <input type="password" value="<%=locals?.data?.password ?? '' %>" name="password" id="password" />

      <button>Login</button>
      <% if(locals.error){ %>
        <%=error.message%>
          <% } %>
    </form>
  </div>
</body>

</html>